

// SIMPLE CSS RESET

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Merriweather Sans', 'Crimson Text', 'Roboto Mono';
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, ol, ul {
    color: black;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

// END OF CSS RESET

