/* RGB */
$gunmetal: rgba(45, 49, 66, 1);

.link {
    text-decoration: none;
    cursor: pointer;
    color: $gunmetal;
}

.footer {
    margin-top: 3em;
}

@media only screen and (max-width: 640px) {
    .footer p {
      font-size: 13px;
    }
  }
  