// SIMPLE CSS RESET

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, ol, ul {
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

// END OF CSS RESET

@media only screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
}
